<%= form_for @post do |f| %>
  <ul>
    <li>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= error_for(:title, @post) %>
    </li>
    
    <li>
      <%= f.label :content %>
      <%= f.text_area :content %>
      <%= error_for(:content, @post) %>
      <%= I18n.t 'posts.disclaimer', :email => current_user.email %>
    </li>
    <li>
      <%= f.submit %>
    </li>
  </ul>
<% end %>